<br>
<br>
<br>
<h3><%= @skill1 %></h3>
<h3><%= @search_skill %></h3>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h4>Filter by time period</h4>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :beginning, as: :string, input_html: {id: "range_start",  name: 'beginning' } %>
      <%= f.input :end, as: :string, input_html: {id: "range_end",  name: 'end' } %>
      <%= submit_tag ("Submit") %>
    <% end %>
  </div>
</div>
<%= form_tag users_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a teacher"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<h1><% @teach.each do |teacher| %>
  <% teacher.last_name %>
<% end %>
</h1>

<% unless @filtered_teachers.empty? %>
  <h4>Filtered Teachers</h4>

  <div class="cards-container d-flex flex-wrap w-100">
    <% @filtered_teachers.each do |user| %>
      <div class="card-user d-flex my-3 mx-2">
        
        <div class="card p-3 my-1">
          <div class="card-title text-center">
            <li><%= user.first_name %> <%= user.last_name %></li>
          </div>

          <ul class="card-description">
            <li>$<%= user.hourly_rate %> per hour</li>
            <li>
              <% user.skills[0..2].each do |skill| %>
                <%= skill.name + ','%>
              <% end %>
              <% if user.skills.length > 3 %>
                <%= '...' %>
              <% end %>
            </li>
          </ul>
          
          <p><%= link_to 'learn more', user_path(user) %></p>
        </div>
        
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar-square my-3" %>
        <% else %>
          <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-3" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>

<% if @filtered_teachers.empty? %>
  <h4>All Teachers</h4>  
  
  <div class="cards-container d-flex flex-wrap w-100">
    <% @users.select { |user| user.hourly_rate.present? }.each do |user| %>
      <div class="card-user d-flex my-3 mx-2">

        <div class="card p-3 my-1">
          <div class="card-title text-center">
            <li><%= user.first_name %> <%= user.last_name %></li>
          </div>

          <ul class="card-description">
            <li>$<%= user.hourly_rate %> per hour</li>
            <li>
              <% user.skills[0..2].each do |skill| %>
                <%= skill.name + ','%>
              <% end %>
              <% if user.skills.length > 3 %>
                <%= '...' %>
              <% end %>
            </li>
          </ul>
          
          <p><%= link_to 'learn more', user_path(user) %></p>
        </div>
        
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar-square my-3" %>
        <% else %>
          <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-3" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>