<br>
<br>
<br>


<div>
  <%= simple_form_for User.new, url: users_path, method: 'get' do |f| %>
    <%= f.association :skills, input_html: {class:'multiple-select form-control'}, include_hidden: false %>
    <%= f.button :submit, 'submit', class: 'btn btn-primary' %>
  <% end %>
</div>

<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h4>Filter by time period</h4>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :beginning, as: :string, input_html: {id: "range_start",  name: 'beginning' } %>
      <%= f.input :end, as: :string, input_html: {id: "range_end",  name: 'end' } %>
      <%= submit_tag ("Submit") %>
    <% end %>
  </div>
</div>

<% unless @filtered_teachers.empty? %>
  <h4>Filtered Teachers</h4>

  <div class="cards-container d-flex flex-wrap w-100">
    <% @filtered_teachers.each do |user| %>
      <div class="card-user d-flex my-3 mx-2">
        
        <div class="card p-3 my-1">
          <div class="card-title text-center">
            <li><%= user.first_name %> <%= user.last_name %></li>
          </div>

          <ul class="card-description">
            <li>$<%= user.hourly_rate %> per hour</li>
            <li>
              <% user.skills[0..2].each do |skill| %>
                <%= skill.name + ','%>
              <% end %>
              <% if user.skills.length > 3 %>
                <%= '...' %>
              <% end %>
            </li>
          </ul>
          
          <p><%= link_to 'learn more', user_path(user) %></p>
        </div>
        
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar-square my-3" %>
        <% else %>
          <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-3" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>

<% if @filtered_teachers.empty? %>
  <h4>All Teachers</h4>  
  
  <div class="cards-container d-flex flex-wrap w-100">
    <% @users.select { |user| user.hourly_rate.present? }.each do |user| %>
      <div class="card-user d-flex my-3 mx-2">

        <div class="card p-3 my-1">
          <div class="card-title text-center">
            <li><%= user.first_name %> <%= user.last_name %></li>
          </div>

          <ul class="card-description">
            <li>$<%= user.hourly_rate %> per hour</li>
            <li>
              <% user.skills[0..2].each do |skill| %>
                <%= skill.name + ','%>
              <% end %>
              <% if user.skills.length > 3 %>
                <%= '...' %>
              <% end %>
            </li>
          </ul>
          
          <p><%= link_to 'learn more', user_path(user) %></p>
        </div>
        
        <% if user.photo.attached? %>
          <%= cl_image_tag user.photo.key, crop: :fill, class: "avatar-square my-3" %>
        <% else %>
          <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-3" %>
        <% end %>
        
      </div>
    <% end %>
  </div>
<% end %>