<div class="container my-5 p-5">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-square my-1" %>

  <div class="card p-3">

    <div class="card-title">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="card-tag">
        <% @user.skills.each do |skill| %>
        <%= '  ' + skill.name %>
        <% end %>
      </div>
    </div>

      <p class="card-description">
      <%= @user.email %> <br>
      <%= @user.hourly_rate %>$ per hour <br>
      </p>


      <% if current_user == @user %>
      <%= link_to 'Add Skill', new_user_skill_path, class: 'btn btn-primary' %>
      <!-- THE EDIT PROFILE LINK IS LINKING TO THE DEFAULT EDIT USER REGISTRATION, THIS SHOULD BE CHANGED TO EDIT USER PATH ONCE THE EDIT HTML IS CREATED-->
      <%= link_to 'Edit profile', edit_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'add a timeslot', new_timeslot_path, class: 'btn btn-primary' %>
      <!-- DEPENDENT ON TICKETS ROUTE AND VIEW TO ADD THE LINK link_to 'Book a Ticket' -->
      <% end %>


  <div class="card-user-timeslots row">
    <div class="timeslot">
      <ul><% @user.timeslots.each do |timeslot| %>
        <% unless timeslot.ticket %>
          <li>
            <%= timeslot.start_time %><%= link_to icon('fas', 'trash-alt'), timeslot_path(timeslot), method: :delete %>
            <%= link_to 'book this slot', new_timeslot_ticket_path(timeslot), class: 'btn btn-sm btn-dark' %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
</div>
