<div class="container my-5 p-5">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-square my-1" %>
  <% else %>
    <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-1" %>
  <% end %>

  <div class="card p-3">

    <div class="card-title">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      <div class="card-tag">
        <ul class="list-skills">
          <% @user_skills.each do |user_skill| %>
            <li> <%=user_skill.skill.name %> <%= link_to 'X', user_skill_path(user_skill), method: 'delete'%> </li>
          <% end %>
        </ul>
      </div>
    </div>

    <p class="card-description">
      <ul>
        <% if @user.bio.present? %>
          <li> <%= @user.bio %></li>
        <% end %>
        <li> <%= @user.email %> </li>
      </ul>
    </p>

    <% if current_user == @user %>
      <%= link_to 'Add Skill', new_user_skill_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit profile', edit_user_path, class: 'btn btn-primary' %>
      <%= link_to 'Edit settings', edit_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'Add a timeslot', new_timeslot_path, class: 'btn btn-primary' %>
    <% end %>

    <div class="card-user-timeslots row">
      <div class="timeslot">
        <ul>
          <% @user.timeslots.each do |timeslot| %>
            <% unless timeslot.ticket %>
              <li>
                <%= timeslot.start_time.strftime("%A, %d %B %Y, %H:%M") %><%= link_to icon('fas', 'trash-alt'), timeslot_path(timeslot), method: :delete %>
                <%= link_to 'book this slot', new_timeslot_ticket_path(timeslot), class: 'btn btn-sm btn-dark' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <% if @user.reviews %>
      <div class="reviews">
        <ul>
          <% @user.reviews.each do |review| %>
            <li>
              <%= review.content %>
              <%= review.rating %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
</div>
