<div class="container my-5 p-5 card w-50">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, crop: :fill, class: "avatar-square my-1 card-img-top" %>
  <% else %>
    <%= image_tag "https://instastatistics.com/images/default_avatar.jpg", class: "avatar-square my-1 card-img-top" %>
  <% end %>

  <% if policy(@user).edit? %>
    <%= link_to 'Edit profile', edit_user_path, class: 'btn btn-primary' %>
    <%= link_to 'Edit settings', edit_user_registration_path, class: 'btn btn-primary' %>
  <% end %>

  <div class="card p-3">
    <div class="card-title">
      <h2><%= @user.first_name %> <%= @user.last_name %></h2>
      
      <div class="card-tag">
        <ul class="list-skills">
          <li>
            <% @user_skills.each do |user_skill| %>
              <%=user_skill.skill.name %>
              <% if policy(@user).destroy? %>
                <%= link_to 'X', user_skill_path(user_skill), method: 'delete'%>
              <% end %>
            <% end %>
            <% if policy(@user).destroy? %>
              <%= link_to '+', new_user_skill_path, class: 'btn btn-primary' %>
            <% end %>
          </li>
        </ul>

        <p class="card-description">
          <ul>
            <% if @user.bio.present? %>
              <li> <%= @user.bio %></li>
            <% end %>
            <li> <%= @user.email %> </li>
          </ul>
        </p>
      </div>
    
    </div>
  </div>

  <div class="card-user-timeslots">
     <div class="card-title">
       <h3>Timeslots
         <% if policy(@user).edit? %>
           <%= link_to 'Add a timeslot', new_timeslot_path, class: 'btn btn-outline-primary' %>
         <% end %>
       </h3>
     </div>
    
     <div class="card-description timeslot">
       <ul>
        <% @user.timeslots.each do |timeslot| %>
          <li class="d-flex">
            <% if timeslot.ticket %>
              <h6 class="disabled">
                <%= timeslot.start_time.strftime("%A, %d %B %Y, %H:%M") %>
              </h6>
            <% else %>
              <h6 class="active">
                <%= timeslot.start_time.strftime("%A, %d %B %Y, %H:%M") %>
              </h6>
            <% end %>
            
            <% if policy(@user).destroy? %>
              <%= link_to icon('fas', 'trash-alt'), timeslot_path(timeslot), method: :delete %>
            <% end %>
            
            <% unless timeslot.ticket%>
              <% if current_user != @user %>
                <%= link_to 'book this slot', new_timeslot_ticket_path(timeslot), class: 'btn btn-sm btn-dark' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
       </ul>
     </div>
  </div>

  <% if @user.reviews %>
    <div class="reviews">
      <ul>
        <% @user.reviews.each do |review| %>
          <li>
            <%= review.content %>
            <%= review.rating %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
